.navbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  height: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.round-button {
  display: flex;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  padding: 10px;
  height: 45px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.round-button:hover {
  background-color: #035e89;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
}

.round-button .icon {
  color: #035e89;
}

.round-button:hover .icon {
  color: white;
}

.round-button.active {
  background-color: #035e89;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
}

.round-button.active .icon {
  color: white;
}

.options-menu,
.profile-menu {
  position: absolute;
  top: 50px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  width: auto; /* Torna o tamanho do menu dinâmico de acordo com o conteúdo */
  max-width: 20%; /* Define uma largura máxima para evitar que o menu se torne muito largo */
}

.navbar-center-home {
  display: flex;
  align-items: center;
  color: rgb(184, 14, 20);
}

.logo-container-home {
  display: flex;
  align-items: center;
  align-self: center;
}

.logo-image {
  width: 75px;
  height: 70px;
}

.modal-item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  text-align: start;
  margin: 4%;
  font-size: 17px;
  width: 90%;
}

.modal-item img {
  margin-right: 10px; /* Espaçamento entre o ícone e o rótulo */
  width: 30px;
  height: 30px;
}

.modal-item label {
  margin: 0; /* Remover a margem padrão */
}

.modal-item .line{
  display: flex;
  justify-content: center;
  width: 220px;
  height: 0;
}

.modal-item .line fieldset{
  width: 85%;
  border-top: 1px solid rgba(0, 0, 0, 0.274);
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
}

a {
  color: rgb(9, 47, 65);
  text-decoration: none;
}

a:hover {
  color: #035e89;
}
