body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
  }
  
  .round-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .options-menu, .profile-menu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }

  .options-menu.left, .profile-menu.right {
    width: 50%;
    left: 10px;
  }
  
  .options-menu.right, .profile-menu.left {
    width: 50%;
    right: 10px;
  }
  
  .navbar-center {
    display: flex;
    align-items: center;
  }
  
  .content {
    width: 100%;
    height: 200px;
  }
  
  .red-dark {
    background-color: #900;
  }
  
  .red {
    background-color: #f00;
  }
  