.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-password-content {
  width: 300px; /* Largura desejada do formulário */
  background-color: #f8f8f8;
  padding: 3%;
  border-radius: 10px;
  margin-top: 10%;
}

span {
  text-align: center;
  font-size: 35px; /* Tamanho do texto */
  color: #035e89;
}

.change-password-form{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.change-password-form label {
  margin-left: 8%;
  margin-bottom: 2%;
}

.change-password-form input {
  align-self: center;
  font-size: 14px;
  border: 1px solid #ccccccbe;
  border-radius: 10px;
  background-color: white;
  position: relative;
  width: 80%;
  padding: 8px; /* Espaçamento interno */
  margin-bottom: 6%;
}

.change-password-form input:focus {
  outline: none;
  border-color: rgb(26, 55, 68);
}

.change-password-form input::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent;
}

.change-password-form input.error {
  border-color: red; /* Cor da borda quando há erro */
}

.change-password-form input.success {
  border-color: rgb(68, 214, 0); /* Cor do ícone de erro */
}

.change-password-form button {
  background-color: rgb(184, 14, 20);
  border-radius: 10px;
  width: 50%;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 5%;
  align-self: center;
  margin-bottom: 3%;
}

.change-password-form button:hover {
  background-color: rgb(235, 17, 24);
}
