body {
  margin: 0;
  padding: 0;
}

.donations-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 96vh;
}

.info-container {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  width: 80%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.donations-info {
  margin-top: 5%;
  text-align: start;
  align-items: center;
  width: 100%;
}

.with-content-box {
  /* Alterado para ocupar 100% da largura */
  margin-bottom: 2%; /* Espaçamento entre as caixas */
  background-color: #f8f8f8; /* Cor de fundo */
  border: none; /* Borda */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1%;
  width: 22%;
}

.with-content-box h3{
  margin: 0;
  color: rgba(255, 0, 0, 0.63);
  font-size: 20px;
  margin-bottom: 3px;
}

.with-content-box .address-info{
  margin: 0;
  opacity: 0.9;
  margin-bottom: 3px;
}

.with-content-box .date-info{
  margin: 0;
  opacity: 0.9;
}

.scheduling-info{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.donations-container .navbar-donations {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  margin-top: 1%;
}

.donations-container .navbar-donations .left,
.donations-container .navbar-donations .right {
  display: flex;
  align-items: center;
  margin: 0 2%; /* Adicione margem para afastar os botões das bordas */
}

.button-options {
  color: #035e89;
  text-align: center;
  background-color: transparent;
  border: none;
  width: auto;
  height: 35px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.button-options:hover{
  color: white;
  border: none;
  border-radius: 10px;
  width: auto;
  height: 35px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #035e89;
}

.button-options.active {
  color: white;
  background-color: #035e89;
  border: none;
  border-radius: 10px;
  width: auto;
  height: 35px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.no-scheduling{
  display: flex;
  flex-direction: column;
  text-align: center;
}

p{
  margin-top: 0;
}

img{
  width: 30px;
}

.scheduling-info{
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-scheduling-dontations-container {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-top: 4%;
}

.title-form-scheduling-dontations {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.title-form-scheduling-dontations p {
  margin: 0;
  color: #035e89;
  font-size: 28px;
}

.title-form-scheduling-dontations .alert {
  margin: 0;
  margin-bottom: 4%;
  color: rgba(0, 0, 0, 0.562);
  text-align: center;
  font-size: 14px;
}

.form-scheduling-dontations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-scheduling-dontations .schedule {
  background-color: rgb(184, 14, 20);
  border-radius: 10px;
  width: 10%;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  align-self: center; /* Centralizando o botão horizontalmente */
  margin-top: 2%;
}

.form-scheduling-dontations .schedule:hover {
  background-color: rgb(235, 17, 24);
}

.form-scheduling-dontations select {
  width: 30%; /* Definindo uma largura fixa para os selects */
  padding: 7px; /* Espaçamento interno */
  border: 1px solid #ccccccbe;
  border-radius: 10px;
  background-color: #f8f8f8f8;
  position: relative;
  text-align: center;
  font-size: 14px;
  margin: 0;
  margin-bottom: 2%;
}

.form-scheduling-dontations select::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent;
}

.form-scheduling-dontations select:focus {
  outline: none;
  border-color: rgb(255, 51, 51);
}

.form-scheduling-dontations select option {
  background-color: #f8f8f8;
  color: #333;
  padding: 8px;
}

.form-scheduling-dontations label {
  font-size: 100%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 1%;
  font-size: 17px;
}

.sched-info{
  margin-top: 0.7%;
  margin-bottom: 3%;
}